:root{
    --main-color : #d14757;
    --main-border-color : #ccc;
}



.form{
    font-weight: 500;
    gap: 1rem;
    margin-bottom: 2rem;
}
.form > h3 {
    width: fit-content;
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.form > input {
    width: 300px;
    border: 2px solid var(--main-border-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.form > button {
    width: fit-content;
    background-color: var(--main-color);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;

}
.form > button:disabled {
    opacity: 0.5;
}
